<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>anhyrlpb@tznvy.pbz</string>
	<key>contactName</key>
	<string>Noriko Yamamoto</string>
	<key>description</key>
	<string>Promela</string>
	<key>name</key>
	<string>Promela</string>
	<key>uuid</key>
	<string>28A4131F-5D04-4060-94D0-4643700B4D9C</string>
</dict>
</plist>
